<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TDXStation</title>
  </head>
  <body bgcolor="#FFFFFF"> 
    <font color="#003969"> 
    <!--<center><h1> Toradex </h1></center>-->
    <center>
      <img src="https://docs.toradex.com/108455-toradex-logo-1200-630.png"
         width="400"
         heigth="auto"/>
    </center>

   <br>
   <br>
   <br>
   <br>

    <!--

    <style>
      {
          box-sizing: border-box;
      }
      /* Set additional styling options for the columns*/
      .column {
      float: left;
      width: 50%;
      }
  
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
    </style>
      <div class="row">
        <div class="column">
            <h2>HORÁRIO LOCAL</h2>
            <p> {{ date }} </p>
            <p> {{ date1 }} </p>
            <p> {{ temperaturec3 }} </p>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKO34-k99DDdwtgE8NdNdkCnHhO5UQozLNjLOvGIsdbWk-sNowafRkxc_F7LJWbQWvAzs&usqp=CAU">

        </div>
        <div class="column">
            <h2> LOCAL TIME</h2>
            <p> {{ date2 }} </p>
            <p> {{ date3 }} </p>
            <p> {{ temperaturef4 }} </p>
        </div>
      </div>
      
      -->

      <style>
         {
             box-sizing: border-box;
         }
         /* Set additional styling options for the columns*/
         .row {
         float: left;
         width: 50%;
         }
     
         .column:after {
         content: "";
         display: table;
         clear: both;
         }
      </style>
         <div class="column">
            <div class="row">
               <table bgcolor="#003969" border="0" align="center" cellpadding="3" cellspacing="1" style="width: 400px;">
               <tbody>
               <tr>
                  <td bgcolor="#003969" align="center"><span style="font-size: large; color: #FFFFFF"><b>HORÁRIO LOCAL</b></span></td>
               </tr>
               <tr>
                  <td bgcolor="#FFFFFF"><table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 95%px;">
               <tbody>
               <tr>
                  <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                  <td><span style="color: #000000; font-size: large;">{{ date }}</span></td>
                  </tr>
               <tr>
                     <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                  <td><span style="color: #000000; font-size: large;">{{ date1 }}</span></td>
                  </tr>
               <tr>
                     <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                     <td><span style="color: #000000;  font-size: large;">{{ temperaturec3 }}</span></td>
                  </tr>
               </tbody></table>
               </td>
               </tr>
               </tbody></table>
            </div>
            <div class="row">
               <table bgcolor="#003969" border="0" align="center" cellpadding="3" cellspacing="1" style="width: 400px;">
                  <tbody>
                  <tr>
                     <td bgcolor="#003969" align="center"><span style="font-size: large; color: #FFFFFF"><b>LOCAL TIME</b></span></td>
                  </tr>
                  <tr>
                     <td bgcolor="#FFFFFF"><table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 95%px;">
                  <tbody>
                  <tr>
                     <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                     <td><span style="color: #000000; font-size: large;">{{ date2 }}</span></td>
                     </tr>
                  <tr>
                     <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                     <td><span style="color: #000000; font-size: large;">{{ date3 }}</span></td>
                     </tr>
                  <tr>
                     <td valign="top"><span style="color: #000000; font-size: large;"></span></td>
                     <td><span style="color: #000000; font-size: large;">{{ temperaturef4 }}</span></td>
                     </tr>
                  </tbody></table>
                  </td>
                  </tr>
                  </tbody></table>

               </div>
            </div>

         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>


          <center>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKO34-k99DDdwtgE8NdNdkCnHhO5UQozLNjLOvGIsdbWk-sNowafRkxc_F7LJWbQWvAzs&usqp=CAU">
          </center>
         

  </body>
</html>